.header {
    grid-area: h;
    background: linear-gradient(90deg, rgba(184,127,168,1) 0%, rgba(72,96,188,1) 100%);
}

.header img {
    width: 30px;
}
.loginBlock{
    float: right;
    color: blanchedalmond;
   
}
.loginBlock a { 
    color: blanchedalmond;
}