.nav {
    padding: 10px;
    grid-area: n;
    background-color: #ECF0F1;
}

.item a{
    color: #252F39;
    text-decoration: none;
    background-color: white;
    border-radius: 15%;
    size: 2rem;
    margin-left: 15px;
}

.item .activeLink{
    color: #94969d;
}
.sidebar{
    margin-top: 30px;
}
.friends{
    font-weight: 500;
    font-size: xx-large;
    text-decoration: none;
    color: #9575AE;
    margin-left: 35px;
}
.friendItems{
    display: flex;
    margin-left: 5px;
}
.avatar{
    width:45px;
    height:45px;
    border-radius: 50%;
}
