.nav {
    grid-area: n;
    background-color: #ECF0F1;
}

.item a{
    color: #252F39;
    text-decoration: none;
    background-color: white;
    border-radius: 15%;
    size: 2rem;
    margin-left: 15px;
}

.item .activeLink{
    color: #94969d;
}