.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialog{
    margin-left: 20px;
}
.dialogs_items{
    padding: 10px;
    border-right: white 2px solid
}
:focus{
    color: #94969d!important;
}
.messages{
    padding: 10px 25px;;
    width: 15rem;
}

.dialogs_items a{
    color: #252F39;
    text-decoration: none;
}
/*94969d*/
.item .active{
    color: #94969d;
}
.messagesArea{
    margin: 30px 0;
    height: 200px;
    overflow: auto;
}
.messagesArea::-webkit-scrollbar {
    width: 10px;
  }
.textArea >textarea{
    width:240px;
    height: 60px;
}