.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialog{
    margin-left: 20px;
}
.dialogs_items{
    padding: 10px;
}
:focus{
    color: #94969d!important;
}
.messages{
    padding: 10px;
    width: 15rem;
}

.dialogs_items a{
    color: #252F39;
    text-decoration: none;
}
/*94969d*/
.item .active{
    color: #94969d;
}


